$img-width: 150px;
$img-height: 150px;

.document {
  img {
    width: $img-width;
    height: $img-height;
  }
}

.backdrop {
  width: $img-width;
  height: $img-height;
  transition: 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
}

.icon {
  color: white;
}
